body {
    background-image: url('https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg');
    width: 100%;
    
    z-index: -1;
    background-color: #5D7CDA;
    margin-right: 50%;
    color: white;
}
.myform{
    background-color: #0A1D54;
    width: 70%;
   
}
.input, select, textarea, label, h1, footer{
    color: white;
}
.input{
    width: 10px;
}